body {
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: lightgrey;
    margin: 0;
    font-family: arial,sans-serif;
    color: #222;
}

a:link {
    color: #1a0dab;
}

a:visited {
    color: #609;
}

.shell {
    overflow-y: scroll;
}

.invisible {
    visibility: hidden;
}

.search-list-view{
    border: 1px grey solid;
    background-color: white;
    position: absolute;
    top: 20px;
    left: 15%;
    right: 15%;
    margin-bottom: 20px;
    min-height: 100%;
}

.header-controls {
    height: 100px;
    border-bottom: 1px grey solid;
}

.search-control {
    padding: 50px 0 0 20px;
}

.search-control input::-webkit-input-placeholder { 
  font-style: italic;
  color: grey;
}


.search-list {
    padding: 10px 20px;
    font-size: small;
}

.totalStreams {
    float: left;
}

.paging-control {
    float: right;
}

.stream-list{
    clear: both
}

.streams {
    list-style: none;
    padding: 5px 0;
    height: inherit;
}

.streams li {
    clear: both;
    height: 135px;
    margin: 10px 0;
    line-height: 1.2;
    text-align: left;
}

.streams li:hover {
    background-color: lightgrey;
}

.stream-preview {
    float: left;
    height: 135px;
    width: 240px;
    border: 1px grey solid;
    white-space: nowrap;
    text-align: center;
    margin-right: 15px;
}

.stream-preview img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.stream-preview span {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.stream-details {
    word-break: break-word;
    margin-left: 20px;
}

.stream-name {
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}

.stream-name:hover {
    text-decoration: underline;
}

.stream-details h3 {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}

.prev-page, .next-page {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-size: 10px 10px;
    margin: 0 5px;
    cursor: pointer;
}

.game-name {
    color: #006621;
    font-size: 14px;
    line-height: 16px;
}

.game-description {
    word-break: break-all;
    font-size: small;
    color: #545454;
    line-height: 1.4;
}

.prev-page {
    background-image: url(arrow-left.png);    
}

.next-page {
    background-image: url(arrow-right.png);    
}

.spinner {
    height: 30px;
    width: 30px;
    background-image: url(spinner.gif);
    position: absolute;
    top: 50%;
    background-size: 30px 30px;
    margin: auto 50%;
    z-index: 100;
}